[alias]
	b = branch -v
	branch-clean = "!sh clean_remote_branches.sh"
	ca = commit --amend
	ce = commit --amend --no-edit
	clb = clean_local_branches
	co = checkout
	cob = switch -c
	commitamend = commit --amend --no-edit
	d = diff -w
	dc = diff --cached -w
	dt = difftool
	g = grep -W
	p = push
	st = status
	sw = switch
	swc = switch -c
	t = tag -a
	mt = mergetool
[core]
	excludesfile = ~/.gitignore_global
	hooksPath = /Users/gbataille/.git_hooks
[push]
	default = simple
[github]
	user = gbataille
[color]
	ui = true
[init]
	templatedir = ~/.git_templates
	defaultBranch = main
[pull]
	rebase = merges
[rerere]
	enabled = true
[diff]
	tool = nvimdiff
	indentHeuristic = true
	algorithm = histogram
	colorMoved = zebra
[difftool]
	prompt = false
	tool = nvimdiff
	trustExitCode = true
[merge]
	ff = false
	tool = nvimdiff
[mergetool]
	tool = nvimdiff
	prompt = true
[difftool "nvimdiff"]
	path = nvim
[mergetool "nvimdiff"]
	path = nvim
	trustExitCode = true
[pager]
	log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	branch = false
[interactive]
	diffFilter = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight
[grep]
	lineNumber = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Grégory Bataille
  email = gregory.bataille@gmail.com
	signingkey = 4BF93972CBD058ED
[commit]
	gpgsign = true
[includeIf "gitdir:~/Documents/Prog/Taurus/"]
	path = ~/.gitconfig-taurus
[url "git@github.com:taurusgroup"]
	insteadOf = https://github.com/taurusgroup
[url "git@github.com:t-dx"]
	insteadOf = https://github.com/t-dx
