Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'

set relativenumber
set number
set scrolloff=5

let mapleader = ","

# Utils
nmap [<Space> O<Esc>
nmap ]<Space> o<Esc>
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap <Space> <Action>(ExpandCollapseToggleAction)

# Change
map <leader>c <Action>(CommentByLineComment)

nmap <leader>cg <Action>(Generate)
nmap <leader>cnc <Action>(NewClass)
nmap <leader>cnf <Action>(NewFile)
nmap <leader>cgb <Action>(GenerateBuilder)
nmap <leader>cgc <Action>(GenerateConstructor)
nmap <leader>cgg <Action>(GenerateGetterAndSetter)
nmap <leader>crn <Action>(RenameElement)

# Debug
nmap <leader>dbc = <Action>(Debugger.RemoveAllBreakpoints)
nmap <leader>dbp = <Action>(ToggleLineBreakpoint)
nmap <leader>dc = <Action>(Resume)
nmap <leader>dd <Action>(ChooseDebugConfiguration)
nmap <leader>df = <Action>(RunConfigurationAsAction_Debug_FastTestSuite_default_target)
nmap <leader>di = <Action>(EvaluateExpression)
vmap <leader>di = <Action>(EvaluateExpression)
nmap <leader>dn = <Action>(StepOver)
nmap <leader>dr = <Action>(RunConfigurationAsAction_Debug_SpringBootApplication_default_target)
nmap <leader>ds = <Action>(RunConfigurationAsAction_Debug_SlowTestSuite_default_target)
nmap <leader>dsi = <Action>(StepInto)
nmap <leader>dso = <Action>(StepOver)
nmap <leader>dsu = <Action>(StepOut)
nmap <leader>dt = <Action>(DebugClass)
nmap <leader>dtc = <Action>(RunToCursor)

# Edit
nmap <leader>ec <Action>(GotoClass)
nmap <leader>ee <Action>(SearchEverywhere)
nmap <leader>ef <Action>(GotoFile)

# Editor Full screen
nmap <leader>ff = <Action>(HideAllWindows)

# Codes movements
nmap <leader>ga <Action>(ShowIntentionActions)
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gee <Action>(ShowErrorDescription)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gu <Action>(FindUsages)

# Mvn
nmap <leader>mc <Action>(Maven_96d7cbf2cbsfecac4b7compile)
nmap <leader>mr <Action>(Maven_96d7cbf2cbsfecac4b7clean)
nmap <leader>mt <Action>(Maven_96d7cbf2cbsfecac4b7test)

# Buffer closing
nmap <leader>Q <Action>(CloseAllEditorsButActive)
nmap <leader>q <Action>(CloseContent)

# Run
nmap <leader>rc <Action>(RunConfigurationAsAction_Run_SpringBootApplication_default_target)
nmap <leader>rr <Action>(ChooseRunConfiguration)
nmap <leader>rs <Action>(Stop)

# Tests
nmap <leader>tt = <Action>(RunClass)
nmap <leader>tf = <Action>(RunConfigurationAsAction_Run_FastTestSuite_default_target)
nmap <leader>ts = <Action>(RunConfigurationAsAction_Run_SlowTestSuite_default_target)

# Yank
nmap <leader>yp = <Action>(CopyAbsolutePath)

# Folds
nmap zA <Action>(ExpandRegionRecursively)
" nmap <leader>zM <Action>(CollapseAll) # Already mapped like that
" nmap <leader>zR <Action>(ExpandAll) # Already mapped like that
