layout {
    tab_template name="decorated" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    pane_template name="workdir" {
        pane split_direction="vertical" {
            pane focus=true
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }

    decorated name="1. utils" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane cwd="/Users/gbataille/Documents/Prog/OrDynamics/Shift"
                pane
            }
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }
    decorated name="2. backend" focus=true cwd="/Users/gbataille/Documents/Prog/OrDynamics/Shift" {
        workdir
    }
    decorated name="3. infra" cwd="/Users/gbataille/Documents/Prog/OrDynamics/Shift/infra" {
        workdir
    }
}
